#header h1{
	font-size: 36px;
}

#header h2{
	font-size: 16px;
	padding: 10px;
}

#header p{
	font-size: 26px;
}

/* Desktop */
@media screen and (min-width: 737px){
	
}/* Desktop */

/* Tablet */
@media screen and (min-width: 737px) and (max-width: 1200px){

}/* Tablet */

/* Mobile */
#navPanel, #titleBar{
	display: none;
}

@media screen and (max-width: 736px){
	#main-wrapper{
		padding-top: 80px;
	}
}/* Mobile */