#header h1{
	font-size: 36px;
}

#header h2{
	font-size: 16px;
	padding: 10px;
}

#header p{
	font-size: 26px;
}

/* Desktop */
@media screen and (min-width: 737px){
	#flipbook{
		width:1000px;
		height:600px;
		margin-left: auto ;
  		margin-right: auto ;
	}
	
	#flipbook img{
		width:500px;
		height:600px;
	}
	
	#description h1{
		color: black;
		font-size: 38px;
		padding: 60px 0 30px 200px;
	}
	
	#description h2{
		color: black;
		font-size: 26px;
		text-align: right;
		padding: 0 200px 20px 0;
	}
	
	#description h3{
		color: black;
		font-size: 36px;
		text-align: right;
		padding: 0 200px 60px 0;
	}
	
	#description p{
		color: black;
		font-size: 18px;
		padding: 0 200px 10px 200px
	}
	
}/* Desktop */

/* Tablet */
@media screen and (min-width: 737px) and (max-width: 1200px){
	#flipbook{
		width:600px;
		height:400px;
		margin-left: auto ;
  		margin-right: auto ;
	}
	
	#flipbook img{
		width:300px;
		height:400px;
	}
	
	#description h1{
		color: black;
		font-size: 28px;
		padding: 50px 0 20px 150px;
	}
	
	#description h2{
		color: black;
		font-size: 20px;
		text-align: right;
		padding: 0 150px 10px 0;
	}
	
	#description h3{
		color: black;
		font-size: 20px;
		text-align: right;
		padding: 0 150px 50px 0;
	}
	
	#description p{
		color: black;
		font-size: 16px;
		padding: 0 150px 0 150px
	}
}/* Tablet */

/* Mobile */
#navPanel, #titleBar{
	display: none;
}

@media screen and (max-width: 736px){
	#main-wrapper{
		padding-top: 80px;
	}
	
	#flipbook{
		width:400px;
		height:260px;
		margin-left: auto ;
  		margin-right: auto ;
	}
	
	#flipbook img{
		width:200px;
		height:260px;
	}
	
	#description h1{
		color: black;
		font-size: 18px;
		padding: 30px 0 10px 50px;
	}
	
	#description h2{
		color: black;
		font-size: 16px;
		text-align: right;
		padding: 0 50px 10px 0;
	}
	
	#description h3{
		color: black;
		font-size: 16px;
		text-align: right;
		padding: 0 50px 30px 0;
	}
	
	#description p{
		color: black;
		font-size: 12px;
		padding: 0 50px 0 50px
	}
}/* Mobile */