#header h1{
	font-size: 36px;
}

#header h2{
	font-size: 16px;
	padding: 10px;
}

#header p{
	font-size: 26px;
}

/* Desktop */
@media screen and (min-width: 737px){
	#main-wrapper h2{
		font-size: 26px;
		padding: 30px 0 0 200px;
	}
	
	#main-wrapper h3{
		font-size: 20px;
		padding-top: 60px;
		padding-left: 200px;
	}
	
	#main-wrapper a{
		font-size: 16px;
		padding-left: 200px;
	}
}/* Desktop */

/* Tablet */
@media screen and (min-width: 737px) and (max-width: 1200px){
	#main-wrapper h2{
		font-size: 20px;
		padding: 20px 0 0 150px;
	}
	
	#main-wrapper h3{
		font-size: 18px;
		padding-top: 50px;
		padding-left: 150px;
	}
	
	#main-wrapper a{
		font-size: 14px;
		padding-left: 150px;
	}
}/* Tablet */

/* Mobile */
#navPanel, #titleBar{
	display: none;
}

@media screen and (max-width: 736px){
	#main-wrapper{
		padding-top: 80px;
	}

	#main-wrapper h2{
		font-size: 18px;
		padding: 10px 0 0 100px;
	}
	
	#main-wrapper h3{
		font-size: 16px;
		padding-top: 30px;
		padding-left: 100px;
	}
	
	#main-wrapper a{
		font-size: 12px;
		padding-left: 100px;
	}
}/* Mobile */